/* palette */
:root {
    --c-ash: #1B1D1A;
    --c-light: #FDF9F0;
    --c-primary: #E1EB8E;


    --c-ash-tint-300: #666963;
    --c-ash-tint-200: #4D504C;
    --c-ash-tint-100: #343633;
    --c-ash-tone-700: #525451;
    --c-ash-tone-500: #383833;
    --c-ash-shade-100: #141614;
    --c-ash-shade-200: #0E0F0D;
    --c-ash-shade-300: #070908;

    --c-light-tint-100: #FEFAF3;
    --c-light-tint-200: #FFFDFC;
    --c-light-tone-700: #CBC7C3;
    --c-light-tone-500: #E5E2DB;
    --c-light-shade-100: #E1DBC7;
    --c-light-shade-200: #C5BD9E;
    --c-light-shade-300: #A9A075;

    --c-primary-tint-100: #E6EFAA;
    --c-primary-tint-200: #ECF4C6;
    --c-primary-tint-300: #D8EAD6;
    --c-primary-tone-700: #F3F0EB;
    --c-primary-tone-500: #CBCB91;
    --c-primary-shade-100: #BDC870;
    --c-primary-shade-200: #99A552;
    --c-primary-shade-300: #383833;

}

:root, :host {
    --md-sys-color-background: #13140e;
    --md-sys-color-on-background: #e5e3d8;
    --md-sys-color-surface: #13140e;
    --md-sys-color-surface-dim: #13140e;
    --md-sys-color-surface-bright: #3a3a32;
    --md-sys-color-surface-container-lowest: #0e0f09;
    --md-sys-color-surface-container-low: #1c1c16;
    --md-sys-color-surface-container: #20201a;
    --md-sys-color-surface-container-high: #2a2a24;
    --md-sys-color-surface-container-highest: #35352e;
    --md-sys-color-on-surface: #e5e3d8;
    --md-sys-color-surface-variant: #47483a;
    --md-sys-color-on-surface-variant: #c8c7b5;
    --md-sys-color-inverse-surface: #e5e3d8;
    --md-sys-color-inverse-on-surface: #31312a;
    --md-sys-color-outline: #929281;
    --md-sys-color-outline-variant: #47483a;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #c4cd74;
    --md-sys-color-primary: #c4cd74;
    --md-sys-color-on-primary: #2e3300;
    --md-sys-color-primary-container: #6b7224;
    --md-sys-color-on-primary-container: #ffffff;
    --md-sys-color-inverse-primary: #5c6316;
    --md-sys-color-secondary: #c7ca9f;
    --md-sys-color-on-secondary: #2f3214;
    --md-sys-color-secondary-container: #3e4122;
    --md-sys-color-on-secondary-container: #d4d7ac;
    --md-sys-color-tertiary: #97d59d;
    --md-sys-color-on-tertiary: #003914;
    --md-sys-color-tertiary-container: #3e7848;
    --md-sys-color-on-tertiary-container: #ffffff;
    --md-sys-color-error: #ffb4ab;
    --md-sys-color-on-error: #690005;
    --md-sys-color-error-container: #93000a;
    --md-sys-color-on-error-container: #ffdad6;
}
